
/* --------- BLURBS --------- */

.large-blurb {
  text-align: center;
  padding-left: 17.8%;
  padding-right: 17.8%;
  padding-top: 2.688em;
  height: 14.5em;
}

.large-blurb h3 {
  color: white;
  font-size: 2em;
  text-transform: uppercase;
}

.large-blurb p {
  color: rgb(158, 158, 158);
  margin-top: 1em;
  font-size: 1.2em;
}
