
/* --------- CAROUSEL --------- */

.carousel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2.2em;
  background-image: url(../Assets/960x470.png);
  background-position: center, center;
  width: 100%;
  height: 29.313em;
  margin-bottom: .5em;
  transition: background 0.5s linear; /* this will make the carousel image change smooth */
}

.carousel-loader {
  display: none;
}

.carousel {
  color: white;
  font-family: 'Voltaire', sans-serif;
}

.carousel p {
  font-size: 3.5em;
}

.carousel-nav {
  align-self: flex-end;
  color: rgb(46,46,46);
  font-size: .95em;
}

.nav-points {
  width: 3.5em;
  display: flex;
  justify-content: space-between;
}

/* --- Carousel hover events --- */

.left-arrow:hover, .right-arrow:hover {
  cursor: pointer;
}

.left-arrow:hover p, .right-arrow:hover p {
  color: rgb(46,46,46);
}

#first:hover, #second:hover, #third:hover {
  color: rgb(97,97,97);
  cursor: pointer;
}
