
@import "reset.css"; /* Default html reset file */
@import "carousel.css";
@import "project-title.css";
@import "images.css";
@import "blurb.css";
@import "modal.css";
@import "media-query-small.css";

html {
  background-color: rgb(26,26,26);
}
 body { /* Default font */
  font-family: 'Nunito Sans', sans-serif;
}

.above-breakout-area { /* Container spanning all area before breakout area container*/
  display: flex;
  flex-direction: column;
  margin-left: 12.2%;
  margin-right: 12.2%;
  margin-bottom: 5em;
}

.top-menu { /* placeholder width, will change once added logo and title on left and right */
  height: 3em;
}
