
@import "reset.css"; /* Default html reset file */
@import "carousel.css";
@import "project-title.css";
@import "images.css";
@import "blurb.css";
@import "modal.css";
@import "media-query-small.css";

html {
  background-color: black;
}
 body { /* Default font */
   font-family: 'Roboto', sans-serif;
 }

.above-breakout-area { /* Container spanning all area before breakout area container*/
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 5em;
}

.top-menu { /* placeholder width, will change once added logo and title on left and right */
  height: 3em;
}
